﻿@{
    ViewBag.Title = "Bienvenido";

}

@model IEnumerable<UNAH_Test.Models.Invoice>

<h2>Facturas</h2>
<br />
<a href="">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</a>

<br />

<table class="table">
    <thead>
    <th># de Factura</th>
    <th>Cliente</th>
    <th>Fecha de Creación</th>
    <th>Ver más información</th>
    <th>Opciones</th>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
    <td>
        @obj.InvoiceId
    </td>
    <td>
        @obj.Client.Name
    </td>
    <td>
        @obj.DateCreated
    </td>
        <td>
              <a >
                  Enlace
              </a>
        </td>
        <td>
            <a>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </td>


    }

        </tbody>
    </table>